# EarthLink server runtime settings
EARTHLINK_DB_HOST=localhost
EARTHLINK_DB_PORT=5432
EARTHLINK_DB_USER=earthlink
EARTHLINK_DB_PASSWORD=earthlink
EARTHLINK_DB_NAME=earthlink

EARTHLINK_HOST=0.0.0.0
EARTHLINK_PORT=8000
